.content{
  background: #190125;
}

.header{
  background-color: aqua;
  width: 100%;
  height: 155px;
  display: flex;
  justify-content: start;
  padding: 13px 0 0 59px;
  align-items: center;

  &_text{
    font-family: 'IBM Plex Sans', serif;
    font-weight: 400;
    font-size: 96px;
    line-height: 156px;
    letter-spacing: 0.1em;
    //color: #FFFFFF;
  }
}